<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trello API Project</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="https://kit.fontawesome.com/077358db92.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/main.css">