@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gotu|Playfair+Display&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gotu", sans-serif;
  width: 100%;
  height: 100vh;
  /* background: url('/images/body-bg.jpg') center center no-repeat; */
  /* background-size: cover; */
}

.navbar-toggler {
  border: none;
}

button:focus {
  outline: none;
}


.page-title::after {
  content: " >";
}

.board .card-body {
  height: 200px;
}

.board {
  transition: 0.5s;
}

.board:hover {
  transform: scale(1.08);
  transition: 0.5s;
}

#addlist{
  background-color: rgba(255, 255 , 255, 0.1);
  cursor: pointer;
  color: gray;
}

#addlist:hover{
  background-color: rgba(255, 255 , 255, 0.2);
  color: darkslategray;
}

.addcard{
  cursor: pointer;
  color: gray;
}

.addcard:hover {
  color: darkslategray;
}

#addboard {
  cursor: pointer;
}

#addboard .board:hover{
  transform: none;
  background-color: #dddddd;
}

#addboardform .board{
  background-color: #f8f8f8;
}

#addboardform .board:hover{
  transform: none;
}

.deleteCard {
  cursor: pointer;
  top: 0;
  right: 0;
}

.deleteList {
  cursor: pointer;
  top: 15px;
  right: 0;
}

.deleteBoard{
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
}

.deleteBoardDiv{
  cursor: pointer;
  top: 40px;
  right: 30px;
  padding: 10px 20px;
}