<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
</head>
<body>
    <header>
        <%- include('../partials/header') -%>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row p-4">
                <h3 class="col-md-12 page-title">Board Name</h3>
            </div>
            <div class="row p-4">
                <div class="col-md-2">
                    <ul class="list-group">
                        <li>
                            <div class="card shadow text-dark mb-3">
                                <div class="card-header p-2 rounded-lg">
                                    <p class="mb-3 mt-2">List Name</p>
                                    <ul class="list-group">
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">1</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">4</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">2</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">3</li>
                                    </ul>
                                    <p class="mb-2 mt-3 pl-2"> <b class="">+</b> Add another card</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-group">
                        <li>
                            <div class="card shadow text-dark mb-3">
                                <div class="card-header p-2 rounded-lg">
                                    <p class="mb-3 mt-2">List Name</p>
                                    <ul class="list-group">
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">1</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">4</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">2</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">3</li>
                                    </ul>
                                    <p class="mb-2 mt-3 pl-2"> <b class="">+</b> Add another card</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-group">
                        <li>
                            <div class="card shadow text-dark mb-3">
                                <div class="card-header p-2 rounded-lg">
                                    <p class="mb-3 mt-2">List Name</p>
                                    <ul class="list-group">
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">1</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">4</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">2</li>
                                        <li class="list-group-item p-1 rounded-lg mb-3 shadow-sm">3</li>
                                    </ul>
                                    <p class="mb-2 mt-3 pl-2"> <b class="">+</b> Add another card</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="list-group">
                        <li>
                            <div class="card shadow text-dark mb-3">
                                <div class="card-header p-2 rounded-lg">
                                    <p class="mb-2 mt-3 pl-2"> <b class="">+</b> Add another list</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') -%>
</body>
</html>